<!DOCTYPE html>
<html>
  <head>
    <title>Tarantino</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.4/css/theme.materialize.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.4/css/jquery.tablesorter.pager.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.4/js/extras/jquery.tablesorter.pager.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.4/js/jquery.tablesorter.widgets.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.4/js/jquery.tablesorter.min.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="center">
        <h1><%= link_to "Speaking Tarantino", root_path %></h1>
        <h5>Let's dive into the language used in a few Tarantino movies using <a href="https://github.com/fivethirtyeight/data/blob/master/tarantino/tarantino.csv" target="blank">this</a> data from <a href="https://fivethirtyeight.com" target="blank">fivethirtyeight</a></h5>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
